<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.task.ui">

    <application >
        <activity android:name="com.task.ui.mvp.tasks.TasksActivity">
        </activity>
        <activity android:name="com.task.ui.mvp.taskdetail.TaskDetailActivity" />
        <activity android:name="com.task.ui.mvp.addedittask.AddEditTaskActivity" />
        <activity android:name="com.task.ui.mvp.statistics.StatisticsActivity" />
    </application>

</manifest>
