<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.task.ui">

    <application >
        <activity android:name=".mvp.tasks.TasksBaseActivity">
        </activity>
        <activity android:name=".mvp.taskdetail.TaskDetailBaseActivity" />
        <activity android:name=".mvp.addedittask.AddEditTaskBaseActivity" />
        <activity android:name=".mvp.statistics.StatisticsBaseActivity" />
    </application>

</manifest>
